{% extends 'inventory_side_base.html' %}
{% block content %}
<h1>Manage Carousels</h1><hr>
{% for carousel in carousels %}
<h4><a href="" class='carousel-href-btn'><li id='{{carousel.id}}'>{{carousel}}</li></a></h4>
{% endfor %}
{% endblock content %}
{% block javascript %}

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
$(document).ready(function(){
    $(".carousel-href-btn").click(function(e){
        e.preventDefault()
        carousel_id = 1
        var url = `${window.location.protocol}//${window.location.host}/inventory/carousels/${carousel_id}`
        $.ajax({
            url:url,
            method:"GET",
            data : {},
            success:function(data){
                hbody = ``
                $.each(data, function(i){
                    hbody += `<div><li><a href='${data[i].image}' target='_blank' class="my-1 mx-1 text-sm">${data[i].image}</a><button class = 'btn btn-outline-danger btn-sm delete-photo-btn' data-id='${data[i].id}'>Delete</button></li></div><br>`
                })
                html = 
                `
                <div class="">
                    <div class="card-header">
                        <h1>Carousel InfoUpdateView</h1>
                    </div>
                    <div class="card-body">
                    ${hbody}<br>
                    <form action="" method='POST' enctype='multipart/form-data'>
                        Add New: <input class='my-1' id='image' name='image' type = 'file'><br>
                        <button class='my-1 btn btn-outline-success' id='post-btn'>Post</button>
                        <input type="reset" value="Reset Form" class='btn btn-dark'>
                    </form>
                    </div>
                </div>
                `
                $("#content-main").html(html)
                $("#myModal").modal();
            },
            error: function(err){
                console.log(err)
            }
        })
    })
    $("#myModal").on('click', '#post-btn', function(e){
        e.preventDefault()
        var formData = new FormData();
        img = $('#image')[0].files[0]
        formData.append('image', img);
        $.ajax({
            url: `${window.location.protocol}//${window.location.host}/inventory/carousels/${carousel_id}/`,
            method:'POST',
            data: formData,
            headers: {'X-CSRFToken': csrftoken},
            contentType: false,
            processData: false,
            cache: false,
            success: function(data) {
                $("#myModal").modal('hide')
                alert("Image Successfully Added!")
            },
            error: function(err){
                alert("Oops!!! Upload Error!! Make Sure You have Choosen File First!")
                console.log(err)
            }
        });

    })
    $("#myModal").on('click', '.delete-photo-btn', function(e){
        e.preventDefault()
        c_id = e.target.dataset.id
        url = `/inventory/carousels/${c_id}/delete/`
        parent = $(this).parent().parent()
        $.ajax({
            url: url,
            method : "DELETE",
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(data){
                parent.html('')
            },
            error: function(err){
                console.log(err)
            }
        })
    })
})
</script>

{% endblock javascript %}