{% extends 'partial/base.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}
{% block content %}
<a href="{% url 'inventory:add-stock' %}" class="mx-2 btn btn-success" style="float:right;">Add Stock</a>
<a href="{% url 'inventory:sell-stock' %}" class="mx-2 btn btn-outline-success" style="float:right;">Sell Stock</a>
<a href="{% url 'inventory:credit-transactions' %}" class="mx-2 btn btn-outline-success" style="float:right;">View Sold Transaction</a>
<h1>Stock In Transactions</h1>
<hr>
<form action="" method="get">
    <div class="col-md-4">
      <label for="inputState"><h6>Balanced:</h6></label>
      {{filter.form.balanced}}<br>
      <label for="inputState"><h6>Date:</h6></label>
      {{filter.form.date}}<br>
    <input type="submit" class='my-2 btn btn-sm btn-dark' value='Apply Filter'>
    </div>
</form>
<hr>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Date</th>
            <th>Vendor</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost Price Per Unit</th>
            <th>Total Payable</th>
            <th>Paid Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for transaction in filter.qs %}
        <tr>
            <td>{{transaction.date|date}}</td>
            <td><a href="{% url 'inventory:transaction-update' transaction.id%}">{{transaction.vendor_client}}</a></td>
            <td>{{transaction.item}}</td>
            <td>{{transaction.quantity}}</td>
            <td>Rs. {{transaction.cost}}</td>
            <td>Rs. {{transaction.total_payable}}</td>
            <td>
                Rs. {{transaction.paid}}
                {% if transaction.remaining_payment > 0 %}
                    <span class="badge badge-warning">Rs. {{ transaction.remaining_payment }} Remaining</span>
                {% elif transaction.remaining_payment < 0 %}
                    <span class="badge badge-danger">Rs. {{ transaction.remaining_payment }} Overpaid</span>
                {% else %}
                    <span class="badge badge-success">Balanced</span>
                {% endif %}
            </td>
            <td>
                {% if transaction.balanced %}
                -
                {% else %}
                <a href="{% url 'inventory:quick-payment' transaction.id%}" class="btn btn-warning btn-small">Add Payment</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "partial/pagination.html" %}
{% endblock content %}
{% block javascript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready( function () {
    $('#table_id').DataTable({
        "paging": false,
        'order':[]
    });
    $("#id_date").datepicker({
      changeMonth: true,
      changeYear: true
    });
} );
</script>
{% endblock javascript %}