{% extends 'partial/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock style %}
{% block content %}
<a href="{% url 'inventory:new-item' %}" class="mx-2 btn btn-primary" style="float:right;">Create New Item</a>
<a href="{% url 'inventory:add-stock' %}" class="mx-2 btn btn-success" style="float:right;">Add Stock</a>
<a href="{% url 'inventory:sell-stock' %}" class="mx-2 btn btn-outline-success" style="float:right;">Sell Stock</a>
<h1>Inventory</h1>
<hr>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
            <th>Remaining Quantity</th>
            <th>Action</th>
        </tr>
    </thead>    
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>
                {{item.name}}
                {% if item.quantity <= 0 %}
                    <span class="badge badge-danger">Out of Stock</span>
                {% elif item.quantity < 10 %}
                    <span class="badge badge-warning">Only {{item.quantity}} remaining.</span>
                {% endif %}
            </td>
            <td>{{item.brand}}</td>
            <td>Rs. {{item.cost_price}}</td>
            <td>Rs. {{item.selling_price}}</td>
            <td>{{item.quantity}} units</td>
            <td><a class='btn btn-outline-warning btn-sm' href="{% url 'inventory:item-update' item.id%}">edit</a>
            <a class='btn btn-info btn-sm view_item_btn' value="{{item.id}}" href="#">view</a>
            {% comment %} <a class='btn btn-outline-warning btn-sm' href="{% url 'inventory:item-delete' item.id%}">delete</a> {% endcomment %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "partial/pagination.html" %}

{% endblock content %}
{% block javascript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#table_id').DataTable({
        "paging": false,
        'order':[]
    });

    $(".view_item_btn").click(function(e){
        e.preventDefault()
        id = e.target.attributes.value.value
        get_item_info_trans(id)
    });
  });
</script>
{% endblock javascript %}