{% extends 'partial/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{header}}</h1><hr>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Client Name: {{order.user.first_name}} {{order.user.last_name}}</h5><br><hr>
        <h6>Order ID: <span class='text-secondary'>OD-{{order.id}}<span></h6>
        <h6>Date Ordered: <span class='text-secondary'>{{order.ordered_date}}<span></h6>
        <h6>Contact: <span class='text-secondary'>{{order.user.profile.contact}}<span></h6>
        <h6>Client Submitted Contact: <span class='text-secondary'>{{order.checkout.contact}}<span></h6>
        <h6>Status: <span class='text-secondary'>{{order.status}}<span></h6>
        <h6>Message By Client: <span class='text-secondary card'>{{order.checkout.message}}<span></h6>
        <h6>Remarks By Client: <span class='text-secondary card'>{{order.checkout.remarks}}<span></h6>
        <h6 class="card-text"></h6>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Order Items</h5><br><hr>
        <table id="table_id" class="table display jumbotron">
            <thead>
                <tr>
                    <th>Item Id</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price Per Unit</th>
                    <th>Total Payable</th>
                </tr>
            </thead>
            <tbody>
            {% for order_item in order_items %}
                <tr>
                    <td>{{order_item.item.id}}</td>
                    <td>{{order_item.item.name}}</td>
                    <td>{{order_item.quantity}}</td>
                    <td>Rs. {{order_item.item.selling_price}}</td>
                    <td>Rs. {% widthratio order_item.item.selling_price 1 order_item.quantity%}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rs. {{order.total_amount}}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="" class='m-4 col-3' method="post">
    {{form|crispy}}
    {% csrf_token %}
    <input type="submit" value="Update" class='btn btn-success m-1'>
    </form>
</div><br>

{% endblock content %}