{% extends 'partial/base.html' %}
{% load static %}
{% load class_name %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{header}}</h1><hr>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
        {% comment %} Dont get Confused by searching for object context its automatic by django no context data required {% endcomment %}
        {% if object %}
            <div class="card">
                <div class="card-header">
                    Transaction ID: {{object.transaction_id}} - {{object.item}} - <strong>{% if object.is_debit %}Stock Bought {% else %} Stock Sold {% endif %}</strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Payment For Item: {{object.item}}</h5><br><hr>
                    <h6>Date of Transaction: <span class='text-secondary'>{{object.date}}<span></h6>
                    <h6>Vendor/ Client Name: <span class='text-secondary'>{{object.vendor_client}}<span></h6>
                    <h6>Vendor/ Client Contact: <span class='text-secondary'>{{object.contact}}<span></h6>
                    <h6>Quantity: <span class='badge badge-success'>{{object.quantity}} Units</span></h6>
                    <h6>Total Payable: <span class='text-warning'>Rs. {{object.total_payable}}</span></h6>
                    <h6>Total Paid: <span class='text-success'>Rs. {{object.paid}}</span></h6>
                    <h6>Payment Remaining: <span class='text-danger'>Rs. {{object.remaining_payment}}</span></h6>
                    {% if object.balanced %} <span class="badge badge-success">BALANCED</span> {% endif %}
                    <h6 class="card-text"></h6>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body">
                    <h4>Payments for Transaction</h4><hr>
                    <table class='table table-success'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount Paid</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for payment in payments %}
                            <tr>
                                <td>{{payment.date}}</td>
                                <td>Rs. {{payment.amount}}</td>
                            </tr>
                    {% endfor %}
                            <tr class=''>
                                <td><strong>Total paid</strong></td>
                                <td><strong>Rs. {{object.paid}}</strong></td>
                            </tr>
                            <tr class=''>
                                <td><strong>Remaining payment</strong></td>
                                <td><strong class='text-danger'>Rs. {{object.remaining_payment}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% if not object.balanced and object|class_name == 'Transaction'%}
                        <a href="{% url 'inventory:quick-payment' object.id%}" class="btn btn-outline-success">Add Payment</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
        <span class='trans-info'><h4>Select Object From Dropdown to view info.</h4></span>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" name="" id="" class='btn btn-primary' value="Submit Form">
        </form><br>
    </div>
</div>

{% endblock content %}
{% block javascript %}
<script src="{% static 'custom_js/get_transaction_payments.js' %}"></script>
<script>
$(function() {
    $('#id_transaction').change(function(e){
        var trans_id = e.target.value
        get_trans_payments(e, trans_id);
    });
    $('#id_item').change(function(e){
        var item_id = e.target.value
        get_item_info_trans(item_id)
    });
    

});
</script>
{% endblock javascript %}