{% extends 'partial/base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'inventory:sell-stock' %}" class="mx-2 btn btn-success" style="float:right;">Sell Stock</a>
<a href="{% url 'inventory:add-stock' %}" class="mx-2 btn btn-outline-dark" style="float:right;">Add Stock</a>
<h1 id='header'></h1>
<hr>
<form action="" method="get" id='filter-form'>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState"><h6>Type:</h6></label>
      <select class="custom-select" id='Transasction_Filter'>
        <option value="">All Transactions</option>
        <option value="STOCK+IN">Bought Transactions</option>
        <option value="STOCK+OUT">Sold Transactions</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="inputState"><h6>Balanced:</h6></label>
      <select class="custom-select" id='Balance_Filter'>
        <option value="">All</option>
        <option value="true">Balanced Transactions</option>
        <option value="false">Unpaid Transactions</option>
      </select>
    </div>

    <div class="form-group col-md-3">
    <label for="inputState"><h6>Start Date:</h6></label>
      <input type="date" autocomplete="false" class='form-control' id='sdate-filter'>
    </div>

    <div class="form-group col-md-3">
    <label for="inputState"><h6>End Date:</h6></label>
      <input type="date" autocomplete="false" class='form-control' id='edate-filter'>
    </div>

    <div class="form-group col-md-4">
      <input type="text" autocomplete="false" class='form-control' id='search-filter' placeholder='Search By Product or Vendor/Client'>
    </div>

    <div class="form-group col-md-4">
      <input type="text" autocomplete="false" class='form-control' id='id-search-filter' placeholder='Search By Transaction ID'>
    </div>

    <div class="form-group col-md-4">
    <label for="inputState"><h6></h6></label>
      <input type="button" autocomplete="false" class='btn btn-secondary' id='clear-filter' value='Clear Filters'>
    </div>
</form>
<hr>
<table id="table_id" class="table display jumbotron">
    <thead>
        <tr>
            <th>Date</th>
            <th>Id</th>
            <th>Vendor/Client</th>
            <th>Item</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Cost Price Per Unit</th>
            <th>Total Payable</th>
            <th>Paid Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<span class="pagination-span"></span>
{% endblock content %}
{% block javascript %}
<script src="{% static 'custom_js/transaction_list.js' %}"></script>
<script src="{% static 'custom_js/get_item_info_trans.js' %}"></script>
{% endblock javascript %}