{% extends 'client_side_base.html' %}
{% block content %}
<h1>My Cart</h1><hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
{% if order_items|length > 0 %}
  {% for order_item in order_items %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{order_item.item.name}}</td>
      <td><input type="number" min='0' oninput="this.value = Math.abs(this.value)" value='{{order_item.quantity}}' class='item_qty form-control col-3' itemid='{{order_item.item.id}}'></td>
      <td class='price'>{{order_item.item.selling_price}}</td>
      <td class='total_price'>{% widthratio order_item.quantity 1 order_item.item.selling_price %}</td>
    </tr>
  {% endfor %}
    <tr>
    <td colspan='4'><strong>Grand Total</strong></td>
    <td colspan='1' id='grand_total'>{{order.total_amount}}</td>
    </tr>
  </tbody>
</table>
<button id='update_cart' disabled class='btn btn-warning'>Update</button>
<a href="{% url 'main:checkout-form' %}" id='proceed_to_checkout' class='btn btn-success'>Proceed to Checkout</a href='#'>
{% else %}
<tr><td>Add Items To Cart</td></tr>
{% endif %}
{% endblock content %}
{% block javascript %}
<script>
$(document).ready(function(){
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    //----------------
    console.log("ready")
    var cart_data = []
    var qty = 0
    qtys = $(".item_qty")
    qtys.change(function(e){
        par = this.parentElement.parentElement.children
        price = parseInt(par[4].textContent)
        qty = parseInt(e.target.value)
        total = price*qty
        par[4].innerHTML =total;
        total_sel = $(".total_price")
        totals = []
        total_sel.each(function(e){
            totals.push(parseInt(total_sel[e].innerHTML))
        })
        var grand_total = totals.reduce(function(a, b){
            return a + b;
        }, 0);
        $('#grand_total').html(grand_total)
        $("#update_cart").prop("disabled", false)
    })
    $("#update_cart").click(function(){
        qtys.each(function(e){
            itemId = parseInt($(this).attr("itemid"))
            qty = parseInt($(this).val())
            if (qty == 0){
                console.log(this)//delete tat row
            }
            a = {'itemId' : itemId,'quantity':qty}
            cart_data.push(a)
        })
        url = `${window.location.protocol}//${window.location.host}/cart-update/`
        $.ajax({
            type: "POST",
            url: url,
            data: {'data': JSON.stringify(cart_data)},
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(){
                $("#message-container").html(
                    `<div class='alert alert-success alert-dismissible fade show' role='alert'>
                        Cart Data Updated!!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`
                )
            },
            error: function(error){
                console.log(error)
                $("#message-container").html(
                    `<div class='alert alert-danger alert-dismissible fade show' role='alert'>
                        Oops Error Occoured!!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`
                )
            }
        });
    })
})
</script>
{% endblock javascript %}