{% extends 'client_side_base.html' %}
{% block style %}
{% endblock style %}
{% block content %}
<div class="row">
{% for item in items %}
<div class="card m-1" style="width: 18rem;">
  <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{item.name}}</p>
      <a href="{% url 'main:item-detail' item.id%}" class="btn btn-outline-info text-info btn-sm">View</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}