{% extends 'client_side_base.html' %}
{% block style %}
{% endblock style %}
{% block content %}


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    {% for photo in carousel.photo_set.all %}
    <li data-target="#demo" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
    {% endfor %}
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    {% for photo in carousel.photo_set.all %}
    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
      <img src="{{ photo.image.url}}" width="1100" height="500">
    </div>
    {% endfor %}
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<h1>{{header}}</h1><hr>

<div class="row">
{% for item in items %}
<div class="card m-1" style="width: 17rem;">
  <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{item.name}}</p>
      <a href="{% url 'main:item-detail' item.id%}" class="btn btn-outline-info text-info btn-sm">View</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}